					<div class="checkbox-js">
						<h1>Какие фотографии Вам понравились?</h1>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo1" value="off">
								1
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo2" value="off">
								2
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo3" value="off">
								3
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo4" value="off">
								4
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo5" value="off">
								5
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo6" value="off">
								6
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo7" value="off">
								7
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo8" value="off">
								8
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo9" value="off">
								9
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo10" value="off">
								10
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo11" value="off">
								11
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo12" value="off">
								12
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo13" value="off">
								13
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo14" value="off">
								14
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo15" value="off">
								15
							</label>
						</span>
						<span class="checkbox-js__input-wrapper">
							<label>
								<input type="checkbox" name="photo16" value="off">
								16
							</label>
						</span>
					</div>
					<div class="checkbox-css">
						<h1>Какие фотографии Вам не понравились?</h1>
						<div>
							<input type="checkbox" id="check1" value="off">
							<label for="check1">1</label>
						</div>
						<div>
							<input type="checkbox" id="check2" value="off">
							<label for="check2">2</label>
						</div>
						<div>
							<input type="checkbox" id="check3" value="off">
							<label for="check3">3</label>
						</div>
						<div>
							<input type="checkbox" id="check4" value="off">
							<label for="check4">4</label>
						</div>
						<div>
							<input type="checkbox" id="check5" value="off">
							<label for="check5">5</label>
						</div>
						<div>
							<input type="checkbox" id="check6" value="off">
							<label for="check6">6</label>
						</div>
						<div>
							<input type="checkbox" id="check7" value="off">
							<label for="check7">7</label>
						</div>
						<div>
							<input type="checkbox" id="check8" value="off">
							<label for="check8">8</label>
						</div>
						<div>
							<input type="checkbox" id="check9" value="off">
							<label for="check9">9</label>
						</div>
						<div>
							<input type="checkbox" id="check10" value="off">
							<label for="check10">10</label>
						</div>
						<div>
							<input type="checkbox" id="check11" value="off">
							<label for="check11">11</label>
						</div>
						<div>
							<input type="checkbox" id="check12" value="off">
							<label for="check12">12</label>
						</div>
						<div>
							<input type="checkbox" id="check13" value="off">
							<label for="check13">13</label>
						</div>
						<div>
							<input type="checkbox" id="check14" value="off">
							<label for="check14">14</label>
						</div>
						<div>
							<input type="checkbox" id="check15" value="off">
							<label for="check15">15</label>
						</div>
						<div>
							<input type="checkbox" id="check16" value="off">
							<label for="check16">16</label>
						</div>
					</div>