body {
	background-color: #f0f0f0;
}

table {
	border-collapse: collapse;
	border: hidden;
	margin: 100px auto;
}

td {
	border: 5px solid black;
	height: 30px;
	width: 30px;
}

.bg_white {
	background-color: white;
}

.bg_red {
	background-color: red;
}

.bg_black {
	background-color: black;
}

.bg_blue {
	background-color: blue;
}

.bg_yellow {
	background-color: yellow;
}

.thin td {
	height: 15px;
}

.double-h {
	height: 60px;
}

.double-w {
	width: 60px;